*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*~
*.cmj
*.bak
*.mlast
*.mliast
.vscode
node_modules
_build
_opam
lenses-ppx.install
_release
*.res.js
.rescript
lib
.DS_Store
